body{
    margin: 0;
    background: rgb(32, 32, 32);
    color: rgb(255, 243, 243);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        text-align: center;
        color: rgb(146, 179, 171);
        padding: 1% 11% 1% 10%;
        background-color: rgb(36, 73, 61);
    }

    header {
        margin: -100px 0px 0px 0px;
        padding:5% 5% 5% 5%;
        color: rgb(59, 68, 37);
    }

    section {
      display: flex;  
    }

    ul {
        margin: 10px;
        padding: 0px;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin: 10px 20px 0px 50px;
    }

   a {
        color: rgb(65, 230, 230);
    }


    div-10 {
        padding: 10px 40px 10px 40px ;
        background-color: rgb(32, 43, 22);

        text-align: center;
    }

    div-2{
        margin: 1%;
        padding: 0.5%;
        background-color: rgb(43, 43, 43);
        text-align: center; 
        position: sticky; 
    }

    div-3{
        margin: 1%;
        padding: 0.5%;
        background-color: rgb(43, 43, 43);
        text-align: center;  
    }
    
    div-4{
        margin: 1%;
        padding: 0.5%;
        background-color: rgb(43, 43, 43);
        text-align: center;  
    }

    div-5{
        margin: 1%;
        padding: 0.5%;
        background-color: rgb(43, 43, 43);
        text-align: center;
    }
    div-0 {
        padding: 0%;
        display: inline-block;
        margin: auto;
        text-align: center;
        text-decoration-color: white;
        position: fixed;
        bottom: 83%;
        right: 20%;
        width: 100px;
    }

    img {
        width: 80%;
      }
    }
    button {
        background-color: #32e932;
        border: rgb(6, 7, 8);
        border-radius: 20px ;
        margin:0px 0px 20px 50%;
    }

    button {
        transition-duration: 0.4s;
      }
      
      button:hover {
        background-color: #04AA6D;
        color: white;
      }

