body{
    margin: 0;
    background: rgb(32, 32, 32);
    color: rgb(201, 194, 194);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        text-align: center;
        color: rgb(146, 179, 171);
        padding: 1% 11% 1% 10%;
        background-color: rgb(36, 73, 61);
    }

    header {
        margin: -100px 0px 0px 0px;
        padding:5% 5% 5% 5%;
        color: rgb(59, 68, 37);
    }

    section {
      display: flex; 
      margin:auto;

    }

    ul {
        margin: 10px 10px 15px 10px;
        padding: 0px;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin: 10px 20px 0px 50px;
    }

   a {
        color: rgb(65, 230, 230);
    }

    h4{
        margin-top: 3%;
        color: rgb(146, 179, 171);
    }

    div {
        margin: 1%;
        background-color: rgb(32, 43, 22);
    }


img{
    width: 20%;
    height: 20%;
    margin: 5%;
    margin: 1%;
    padding: 0.5%;
    background-color: rgb(43, 43, 43);
}



