body{
    margin: 0;
    background: rgb(32, 32, 32);
    color: rgb(201, 194, 194);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        text-align: center;
        color: rgb(146, 179, 171);
        padding: 1% 10% 1% 10%;
        background-color: rgb(36, 73, 61);
    }

    header {
        margin: -100px 0px 0px 0px;
        padding:5%;
        color: rgb(59, 68, 37);
    }

    section {
      display: flex;  
    }

    ul {
        margin: 10px;
        padding: 0px;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin: 10px 20px 0px 50px;
    }

   a {
        color: rgb(65, 230, 230);
    }


    div-1 {
        padding: 10px 40px 10px 40px ;
        background-color: rgb(32, 43, 22);
        display: inline-block;
        margin: auto;
        text-align: center;
    }
    button {
        background-color: #32e932;
        border: rgb(6, 7, 8);
        border-radius: 20px ;
        margin:0px 0px 20px 50%;
    }

    button {
        transition-duration: 0.4s;
      }
      
      button:hover {
        background-color: #04AA6D;
        color: white;
      }

