body{
    margin: 0;
    background: rgb(50, 45, 48);
    color: rgb(203, 234, 220);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        text-align: center;
        color: rgb(146, 179, 171);
        padding: 1% 11% 1% 10%;
        background-color: rgb(60, 78, 69);
        border-radius: 5px;
    }

    header {
        margin: -100px 0px 0px 0px;
        padding:5% 5% 5% 5%;
        color: rgb(56, 61, 53);
    }

    section {
      display: flex; 
      margin:auto;

    }

    ul {
        margin: 10px 10px 15px 10px;
        padding: 10px;
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin: 10px 20px 0px 50px;
    }

   a {
        color: rgb(117, 168, 224);
        padding: 10px;
        background-color: rgb(34, 58, 52);
        border-radius: 5px 20px;
    }

    h4{
        margin-top: 3%;
        color: rgb(238, 238, 238);
    }

    div {
        margin: 1%;
        background-color: rgb(238, 238, 238);
    }


img{
    width: 20%;
    height: 20%;
    margin: 5%;
    margin: 1%;
    padding: 0.5%;
    background-color: rgb(59, 68, 62);
    border-radius: 10px;
    }
p {
    margin-left: 2.2%;
}



