body {
    margin: 0;
    background: rgb(50, 45, 48);
    color: rgb(203, 234, 220);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: rgb(146, 179, 171);
    padding: 1% 11% 1% 10%;
    background-color: rgb(43, 71, 57);
    border-radius: 5px;
}

header {
    margin: -100px 0px 0px 0px;
    padding: 5% 5% 5% 5%;
    color: rgb(56, 61, 53);
}

section {
    display: flex;
    margin: auto;
}

ul {
    margin: 10px 10px 15px 10px;
    padding: 10px;
    list-style-type: none;
}

li {
    display: inline-block;
    margin: 10px 20px 0px 50px;
}

a {
    color: rgb(117, 168, 224);
    padding: 10px;
    background-color: rgb(43, 71, 57);
    border-radius: 5px 20px;
}

h4 {
    margin-top: 3%;
    color: rgb(238, 238, 238);
}

section-01 {
    display: flex;
    align-items: flex-start;
}

div {
    margin: 1%;
    background-color: rgb(59, 68, 62);
    border-radius: 5px;
    align-self: top;
}

section-01 img {
    width: 90%;
    height: 90%;
    padding: 0.5%;
    background-color: rgb(59, 68, 62);
    border-radius: 5px;
    width: 97%;
}

img {
    width: 20%;
    height: 20%;
    margin: 5%;
    margin: 1%;
    padding: 0.5%;
    background-color: rgb(59, 68, 62);
    border-radius: 7px;
}

p {
    margin-left: 2.2%;
}

div-1 {
    margin: 5%;
    padding: 1%;
    background-color: rgb(43, 71, 57);
    border-radius: 40px;
}

h6 {
    text-align: center;
    margin-top: -50px;
}

footer {
    text-align: center;
    margin-top: 1%;
    padding: 1.5% 10% 2% 10%;
    background-color: rgb(43, 71, 57);
}

div-02 {
    font-size: 130%;
}

div-3 {
    margin-left: -2%;
}

div-00 {
    background-color: rgb(50, 45, 48);
    color: rgb(50, 45, 48);
    margin: 10px;
}